@tailwind components;

.click-anim {
  @apply transition;
}
.click-anim:active {
  transform: translateY(0.12rem) translateZ(0) !important;
}

.click-scale {
  @apply transition;
}
.click-scale:active {
  transform: scale(0.95) translateZ(0) !important;
}

.load-anim {
  @apply relative overflow-hidden pointer-events-none
  flex items-center justify-center;
}

.load-anim {
  @apply bg-opacity-100 !important;
}

.load-anim > * {
  @apply invisible opacity-0;
}

.load-anim::before {
  @apply content-[''] absolute inset-0 bg-inherit bg-opacity-100 z-[100];
}

.load-anim::after {
  @apply loading;
}

.load-anim::after {
  content: "";
  @apply loading-dots h-[80%]
  max-w-[100px] w-auto
  text-primary-medium absolute text-center;
  z-index: 101;
}

.spinner-on-load.load-anim::after {
  @apply text-[inherit] loading-spinner;
}

.fallback-load {
  @apply w-full h-full
  min-h-[inherit];
}

.fallback-load::after {
  @apply loading-spinner h-full aspect-square;
}

/* load skeleton */
.load-sk {
  @apply bg-base-content/25 animate-pulse;
}

.load-enter-active,
.load-leave-active {
  @apply transition;
}

.load-enter-active {
  @apply hidden;
}

.load-leave-active {
  @apply min-h-screen;
}

.load-leave-to {
  @apply load-anim;
}

.fade-enter-active,
.fade-leave-active {
  @apply transition;
}

.fade-enter-active {
  @apply hidden;
}

.fade-enter-from,
.fade-leave-to {
  @apply opacity-0;
}

.pop-enter-active,
.pop-leave-active,
.pop-move {
  @apply transition;
}

.pop-enter-from,
.pop-leave-to {
  @apply scale-0 !important;
}

.pop-leave-to {
  @apply opacity-0 !important;
}

.small-pop-enter-active,
.small-pop-leave-active,
.small-pop-move {
  @apply transition;
}

.small-pop-enter-from,
.small-pop-leave-to {
  @apply scale-95 !important;
}

.small-pop-leave-to {
  @apply opacity-0 !important;
}

.item-down-move,
.item-down-enter-active,
.item-down-leave-active {
  @apply transition;
}

.item-down-enter-from,
.item-down-leave-to {
  @apply -translate-y-8 opacity-0;
}
