@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  outline: none;
}

body {
  @apply min-h-screen;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply truncate select-none;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

h1 {
  @apply text-6xl;
}

h2 {
  @apply text-5xl;
}

h3 {
  @apply text-4xl;
}
h4 {
  @apply text-3xl;
}
h5 {
  @apply text-2xl;
}
h6 {
  @apply text-xl;
}

div,
p,
li,
input,
span {
  font-family: "Lexend", sans-serif;
}
p {
  @apply truncate;
}

a {
  font-family: "DM Sans", sans-serif;
  @apply transition hover:opacity-90;
}

img {
  @apply pointer-events-none select-none;
}

/* Scroll bar Styles */

/* width */
::-webkit-scrollbar {
  --size: clamp(0.2rem, 0.8vw, 0.4rem);
  width: var(--size);
  height: var(--size);
}

/* Track */
::-webkit-scrollbar-track {
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-base-content invisible
  bg-opacity-10 rounded-full 
  max-w-[6px];
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-opacity-20;
}
*:hover::-webkit-scrollbar-thumb {
  @apply visible;
}

::-webkit-scrollbar-thumb:active {
  @apply bg-opacity-25;
}

/* end */
