@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  outline: none;
  @apply select-none;
}

body {
  @apply min-h-screen;
  font-family: "Lexend", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply truncate select-none;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

h1 {
  @apply text-6xl;
}

h2 {
  @apply text-5xl;
}

h3 {
  @apply text-4xl;
}
h4 {
  @apply text-3xl;
}
h5 {
  @apply text-2xl;
}
h6 {
  @apply text-xl;
}

div,
li,
input,
p {
  font-family: "Lexend", sans-serif;
  /* font-family: "DM Sans", sans-serif; */
}

span,
a,
p,
li {
  @apply truncate;
}

a {
  @apply transition hover:opacity-90;
}

img {
  @apply pointer-events-none select-none;
}

/* Scroll bar Styles */

/* width */
::-webkit-scrollbar {
  --size: clamp(0.2rem, 0.8vw, 0.3rem);
  width: var(--size);
  height: var(--size);
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-transparent bg-clip-content;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-base-content invisible
  bg-opacity-10 rounded-full border border-red-400;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-opacity-20;
}

*:hover::-webkit-scrollbar-thumb {
  @apply visible;
}

::-webkit-scrollbar-thumb:active {
  @apply bg-opacity-25;
}

@supports not selector(::-webkit-scrollbar) {
  *,
  ::before,
  ::after {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    transition: scrollbar-color 0.1s ease-in-out;
  }

  *:is(:hover, :focus, :active),
  ::before:is(:hover, :focus, :active),
  ::after:is(:hover, :focus, :active) {
    scrollbar-color: theme("colors.base-content/20%") transparent;
  }
}

/* end */
